@{
  Layout = "_Layout";
}

<form action="/client/@ViewBag.stylist.stylist_id/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required>
  <a class="btn btn-warning" href="/stylists/@ViewBag.stylist.stylist_id">Cancel</a>
  <button class="btn btn-primary" type="submit">Add Client to @ViewBag.stylist.name</button>
</form>