@{
  Layout = "_Layout";
}

<h1> Are you sure you want to delete <span>@Model.name</span>?</h1>
<form action="/client/delete/@Model.client_id" method="post">
  <button class="btn btn-danger" type="submit">Delete @Model.name</button>
  <a class="btn btn-warning" href="/stylists/@Model.stylist_id">Cancel</a>
</form>