@{
  Layout = "_Layout";
}


<a class="btn btn-light" href="/">Home</a>

<form action="/stylist/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required>
  <button class="btn btn-primary" type="submit">Add stylist</button>
</form>