@{
  Layout = "_Layout";
}

@using HairSalon.Models

<a class="btn btn-light" href="/stylists">View all stylists</a>
<a class="btn btn-primary" href="/client/@Model.stylist_id/create">Add new Client</a>
<h1>
  Stylist: @Model.name
</h1>

<h2>
  Clients:
</h2>


<ul class="list-group">
@foreach (Client client in ViewBag.clients)
{
  <li class="list-group-item">@client.name</li>
}
</ul>