@{
  Layout = "_Layout";
}

@using HairSalon.Models

<a class="btn btn-light" href="/stylists">View all stylists</a>
<a class="btn btn-primary" href="/client/@Model.stylist_id/create">Add new Client</a>
<h1>
  Stylist: @Model.name
</h1>


@if (ViewBag.clients.Count > 0)
{
  <h2>Clients:</h2>
} else {
  <h2>@Model.name has no clients yet</h2>
}


<ul class="list-group">
@foreach (Client client in ViewBag.clients)
{
  <li class="list-group-item">
    <p>@client.name</p>
    <a href="/client/delete/@client.client_id">Delete</a>
  </li>
}
</ul>