@{
  Layout = "_Layout";
}

<a class="btn btn-light" href="/">Home</a>
<a class="btn btn-primary" href="/stylists/create">Add a new stylist</a>
@if (ViewBag.stylists.Count > 0)
{
  <h1>stylists:</h1>
} else {
  <h1>There are no stylists yet</h1>
}

@using HairSalon.Models

<ul class="list-group">
@foreach (Stylist stylist in ViewBag.stylists)
{
  <li class="list-group-item">
    <a href="/stylists/@stylist.stylist_id">
      @stylist.name
    </a>
  </li>
}
</ul>